<h1>thank you<h1>

        <% @order.line_items.each do |details| %>
          <td>

           </td>
            <tr>
              <td>
                <%= image_tag details.product.image.tiny %>
              </td>
              <td>
                <h4><%= details.product.name %></h4>
                <br>
                <p><%= details.product.description %></p>
              </td>
              <td>
                <%= details.product.price %>
              </td>
              <td>
                <%= details.quantity %>
              </td>
              <td>
            </tr>
        <% end %>
    
